.div-home-main {
    background-color: #a2a2a2;
    display: flex;
    min-height: 100vh;
    flex-direction: row;
}

.div-home-main-column {
    display: flex;
    flex-direction: column;
    justify-content: start;
    width: 100%;
}

.button-select-file {
    background-color: #4CAF50;
    border: none;
    color: white;
    padding: 12px;
    text-align: center;
    display: inline-block;
    font-size: 16px;
    cursor: pointer;
    width: 100%;
}
