.fileDetailsView-main-container {
	display: flex;
	justify-content: space-around;
	height: 65%;
}

.file-detail-info-column {
	display: flex;
	flex-direction: column;
	width: 50%;
	padding-left: 1em;
	padding-right: 1em;
}

.pdf-document-container {
	overflow-y: auto;
	width: 50%;
	background-color: #f3fafb;
	padding-left: 1em;
	padding-right: 1em;
	min-height: 100%;
}

.pdf-document-page {
	margin: 8px 8px 0 8px;
	pointer-events: none;
}

.pdf-view-buttons-container {
	display: flex;
	justify-content: space-evenly;
	padding-top: 0.5em;
	padding-bottom: 0.5em;
	align-items: center;
	position: sticky;
	top: 0;
	background-color: #f3fafb;
	z-index: 10000; /* Ensures the buttons stay on top of PDF content */
}

.pdf-button {
	background-color: #00aaa3;
	border: none;
	color: white;
	padding: 4px;
	text-align: center;
	text-decoration: none;
	font-size: 12px;
	margin: 4px 2px;
	cursor: pointer;
	width: 20%;
}

.pdf-button:hover {
	background-color: #00847f;
}
